
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {  
  box-sizing: border-box;  
  margin: 0;  
  padding: 0;  
}  

body {  
  font-family: "Rubik", "Poppins", sans-serif; /* Update to include Vazir font */  
  display: flex;  
  align-items: center;  
  justify-content: center;  
  min-height: 100vh;  
  overflow: hidden;  
  perspective: 1000px;  
}  

.container {  
  width: 80%;  
  display: flex;  
  justify-content: center;  
  align-items: center;  
}  

.card {  
  min-height: 65vh;  
  width: auto;  
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);  
  border-radius: 30px;  
  transform-style: preserve-3d;  
  display: flex;   
  flex-direction: column;   
  justify-content: space-between;   
} 

.sneaker {  
  min-height: 35vh;  
  display: flex;  
  justify-content: center;  
  align-items: top;  
  position: relative;  
}  

.sneaker img {  
  border-radius: 30px;
  width: 100%;  
  height: 100%;
  
  transition: all 0.75s ease-out;  
}  

.back {  
  position: absolute;  
  left: 20px;
  top: 20px;
  font-size: 2rem; 
  color: #000; 
  text-decoration: none;
  z-index: 2;
}  

.info {  
  padding: 0 1.5rem;  
  margin: 0;  
  text-align: right;  
  flex-grow: 1; 
}  

.info h1 {  
  font-size: 1.8rem;  
  transition: all 0.75s ease-out;  
}  

.info h3 {  
  font-size: 1rem;  
  padding: 0.7rem 0rem;  
  color: #585858;  
  font-weight: lighter;  
  transition: all 0.75s ease-out;  
}  

button {  
  width: 100%;   
  margin: 3.5rem 0;
  padding: 1rem 0;  
  position: relative;   
  cursor: pointer;   
  font-weight: bolder;  
  font-family: inherit;  
  border: none;  
  display: block;  
  text-decoration: none;  
  text-transform: uppercase;  
  overflow: hidden;  
  border-radius: 40px;  
  margin-bottom: 1rem;
  background-color: #3c62df;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
}  
button span{
  position: relative;
  color: #fff;
  font-weight: 600;
  z-index: 1;

}
button .wave{
  position: absolute;
  top: -5%;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: #4973ff;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.8);
  transition: 0.5s;

}
button .wave::after,
button .wave::before{
  content: '';
  width: 100%;
  height: 300%;
  position: absolute; 
  top: -25px;
  left: 50%;
  transform: translate(-40% , -75%);
  background-color: #060cc1;

}
button .wave::before{
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.2);
  animation: animate 5s linear infinite;
}
button .wave::after{
  border-radius: 40%;
  background-color: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}
button:hover .wave{
    top: -180px;
}
@keyframes animate{
  0%{
    transform: translate(-50% ,-75%) rotate(0deg);
  }
  100%{
    transform: translate(-50% ,-75%) rotate(360deg);

  }
}



@media screen and (min-width: 740px) {  
  .card {  
    width: 35rem;  
    padding: 0rem 0rem;  
  }  

  .sneaker img {  
    width: 100%;  
  }  

  .info h1 {  
    /* padding: 0 2rem; */
    padding: 1rem;

    font-size: 2.5rem;  
  }  

  .info h3 {  
    padding:  1rem;

    font-size: 1.3rem;  
  }  
  button{
    margin: 2rem 0;
  }


  button .wave::after,
  button .wave::before{
    content: '';
    width: 120%;
    height: 600%;
    position: absolute; 
    top: -105px;
    left: 50%;
    transform: translate(-40% , -75%);
    background-color: #fff;
  
  }
  button .wave::before{
    border-radius: 48%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: animate 5s linear infinite;
  }
  button .wave::after{
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }button .wave{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 200%;
    background-color: #4973ff;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
  
  }
  button .wave::after,
  button .wave::before{
    content: '';
    width: 100%;
    height: 500%;
    position: absolute; 
    top: -70px;
    left: 50%;
    transform: translate(-40% , -75%);
    background-color: #fff;
  
  }
  button .wave::before{
    border-radius: 48%;
    background-color: rgba(20, 20, 20, 0.2);
    animation: animate 5s linear infinite;
  }
  button .wave::after{
    border-radius: 40%;
    background-color: rgba(20, 20, 20, 0.5);
    animation: animate 10s linear infinite;
  }
  button:hover .wave{
      top: -180px;
  }

}

